.mainContainer {
    background-image: url('../../../assets/Discover background.png'); 
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    color: white;
}


.content {
    text-align: center;
    margin-bottom: 20px;

}

.title {
    font-size: 80px;
    font-weight: bold;
    color: rgb(124, 7, 7);
    margin-top: 50px;
    text-align: left; /* Вирівнювання тексту вліво */
    margin-right: 900px; /* Додаємо відступ зліва для позиціонування */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    opacity: 0.7;
    text-align: left; /* Вирівнювання тексту вліво */
    margin-right: 900px; /* Додаємо відступ зліва для вирівнювання з заголовком */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 200px;
}


/* Червоні блоки з текстом */
.redSection {
    width: 100%;
    max-width: 1600px;
    position: absolute;
    bottom: 0;
}

.redBlock {
    background-color: #8B0000; /* Червоний колір блоку */
    color: white;
    padding: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: rgb(255, 255, 255, 0.7);
}

.blockTitle {
    color: white;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.arrow{
    width: 30px;
    height: 30px;
}
.arrow-link:hover {
    transform: scale(1.2); 
}

